*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  min-width: 100vw;
  display: grid;
  place-items: center;
}
h1 {
  font-size: 4rem;
  font-weight: 800;
  background: linear-gradient(
    90deg,
    #ff6a00,
    #ffcc00,
    #00ffcc,
    #0077ff,
    #ee0979
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
